*{
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --main-font-color: #ABB2B9;
  --logo-color: #212F3D;
}

body {
  width: 100vw;
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a{
  text-decoration: none;
  cursor: pointer;
}

.container {
  height: 100%;
  background-color: #fff;
}

.header {
  color: var(--main-font-color);
}

.logo_bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 1.25rem;
}

.logo {
  margin-left: 50px;
}

.logo_link{
  color: var(--logo-color);
}

.nav_bar{
  margin: auto;
  width: 100%;
}

.nav_bar ul{
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.nav_link {
  color: var(--main-font-color);
}
.nav_bar ul li {
  margin: 0 10px;
  font-size: 1.25rem;
}

.btn a {
  color: #fff;
}
.btn {
  background-color: #434ED5;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 5px;
}


.content_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
}

.card {
  max-width: 300px;
  min-width: 100px;
  max-height: 300px;
  border-radius: 5px;
  background-color: #FBFCFC;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.product_image{
  width: 100%;
  height: 80%;
  flex: 1;
}
.product_image img {
  border-radius: 5px;
  width: 100%;
}

.card_content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
}

.product_info {
  flex: 1;
}



